.grid_style {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 20px;
  align-items: center;
  justify-items: center;
}

.pagination_style {
  margin: 3rem;
  justify-content: center;
  align-items: center;
}
.css-wjh20t-MuiPagination-ul{
  flex-wrap: nowrap !important;
}
@media only screen and (max-width: 1200px) {
  .grid_style {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 992px) {
  .grid_style {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 600px) {
  .grid_style {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 480px) {
  .pagination_style {
    margin: 1rem;
  }
}
